<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/chat.css">
</head>
<body>
    <h1 id="title">Persuation Simulator</h1>
    <p id="description">Just for fun!</p>

    <div id="chatbox">
        <!-- Chat messages will go here -->
    </div>
    <input type="text" id="message" placeholder="Type a message...">
    <button id="send">Send</button>

    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/chat.js"></script>
</body>
</html>
