<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navi.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">Persuation Simulator</div>
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="tools">Tools</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Contact Us</h1>
        <div class="contact-info">
            <p><strong>CST1000 Group:</strong> Group 7</p>
            <h2>Our Team</h2>
            <div class="contact-item">
                <p><strong>Member 1: Zhang Xuting 张栩汀</strong> zhangxuting@westlake.edu.cn</p>
            </div>
            <div class="contact-item">
                <p><strong>Member 2: Chen Yizhen 陈羿臻</strong> chenyizhen@westlake.edu.cn</p>
            </div>
            <div class="contact-item">
                <p><strong>Member 3: Zhou Jiawei 周家炜</strong> zhoujiawei@westlake.edu.cn</p>
            </div>
            <div class="contact-item">
                <p><strong>Member 4: Nicole Borja</strong> nicoleborja@westlake.edu.cn</p>
            </div>
            <div class="contact-item">
                <p><strong>Member 5: Ysabella Barroso</strong> ysabellabarroso@westlake.edu.cn</p>
            </div>
        </div>

        <h2>Send us a message</h2>
        <form class="contact-form">
            <input type="text" name="name" placeholder="Your name" required>
            <input type="email" name="email" placeholder="Your email" required>
            <textarea name="message" placeholder="Your message" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
