<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navi.css') }}">
    <title>A Useful Tools</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">Persuation Simulator</div>
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="tools">Tools</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </div>
    <h1>Tools Interface</h1>
    <p>Here are some useful tools for you to use:</p>
    <p>Please follow the guidence on GitHub to use the Tools.py which helps you to analyze the emotion and response the conversation.</p>
</body>
</html>
